<section class="paises-container">
  <h1>Lista de Países</h1>


  <table class="paises-table">
    <thead>
      <tr>
        <th>País</th>
        <th>Nome</th>
        <th>Sigla</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Brasil</td>
        <td>BR</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Estados Unidos</td>
        <td>US</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Canadá</td>
        <td>CA</td>
      </tr>
    </tbody>
  </table>
  
</section>
